p,
a,
span {
  font-size: 0.9rem;
}
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

ul li a {
  color: #c7c7c7;
}

ul li a:hover {
  text-decoration: underline;
}

h2,
h3 {
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.brand {
  font-size: 1.5rem;
}

i {
  margin-right: 0.6em;
}

i:hover {
  color: #007bff;
}

.social-media i {
  font-size: 1.6rem;
  margin-right: 1.2rem;
}

.bg-dark {
  background-color: #323232;
}
