<div class="row py-4">
  <div class="col-lg-3 col-12">
    <h2 class="brand font-weight-bolder">LOGO</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae,
      sapiente? Aliquam quis dolore numquam consequatur. Suscipit odit nostrum
      dolore optio assumenda cupiditate, atque modi rem!
    </p>
    <div class="social-media">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col-lg-3 col-12">
    <h3>Easy Shopping</h3>
    <ul>
      <li>
        <a href="#">Fast Delivery</a>
      </li>
      <li>
        <a href="#">Secure Checkout</a>
      </li>
      <li>
        <a href="#">Return Policy</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-12">
    <h3>About Us</h3>
    <ul>
      <li><a href="#">About The Company</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-12">
    <h3>Find us</h3>
    <ul>
      <li>
        <i class="fa fa-building" aria-hidden="true"></i>
        <span>Juja, Juja Town, Juja House</span>
      </li>
      <li>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Call Us on: +254 712 345 678</span>
      </li>
      <li>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span>Drop us an email at support@ecommerce.com</span>
      </li>
    </ul>
  </div>
</div>
