form {
  align-items: center;
  width: 100%;
  position: relative;
}

input {
  flex-grow: 1;
}

form i {
  position: absolute;
  padding: 0;
  left: 0.6rem;
  top: 0.6rem;
  min-width: 2.5rem;
  color: #495057;
}

.btn {
  color: blue;
  border-color: blue;
}

.btn:hover {
  color: #fff;
  background-color: blue;
}

.navbar-nav {
  flex-basis: 25%;
}

.navbar-nav i {
  padding-right: 0.2rem;
}

.dropdown-toggle::after {
  display: none;
}

.cart {
  white-space: nowrap;
}

.navbar-toggler {
  border-color: transparent;
}
