form {
  flex-wrap: nowrap;
  width: 80%;
}

input {
  flex-grow: 1;
}

form i {
  position: absolute;
  padding: 0.6rem;
  min-width: 2.5rem;
  color: #495057;
}

.navbar-nav {
  flex-basis: 25%;
  /* min-width: 20%; */
}

.navbar-nav i {
  padding-right: 0.2rem;
}

/* .dropdown-toggle::after {
  content: " ";
  display: none;
} */

.cart {
  position: relative;
  white-space: nowrap;
}
