<div class="container px-2 my-5">
  <h2 class="title">Trending Goods</h2>
  <div class="row mx-n2">
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-1.jpg" alt="" />
      <h3>Red Printed T-Shirt</h3>
      <p>$50.00</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-2.jpg" alt="" />
      <h3>Black Casual Shoes</h3>
      <p>$50.00</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-3.jpg" alt="" />
      <h3>Grey Designer Pants</h3>
      <p>$50.00</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-4.jpg" alt="" />
      <h3>Blue Executive T-Shirt</h3>
      <p>$50.00</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-5.jpg" alt="" />
      <h3>Classic boots</h3>
      <p>$50.00</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 py-3 px-2">
      <img src="assets/images/product-6.jpg" alt="" />
      <h3>Green Printed T-Shirt</h3>
      <p>$50.00</p>
    </div>
  </div>
</div>
